/*
author:       Alexander BRENNER
description:  WingBrowser - Small Content browser web application
date:         03/05/22
filename:     gdpr.scss
*/

@import '../../index.scss';

.gdpr-wrap{
    height: auto;
    text-align: left;
    padding: 15px 0px;
}