/*
author:       Alexander BRENNER
description:  WingBrowser - Small Content browser web application
date:         03/05/22
filename:     profile.scss
*/

@import '../../index.scss';

.profile-wrap{
    height: 100vh;
}

.profile-mask-wrap{
    margin-top: 15px;
    border-radius: 15px;
    font-size: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 15px -2px rgb(211, 208, 208);
    text-align: left;
    padding: 15px;
}