/*
author:       Alexander BRENNER
description:  WingBrowser - Small Content browser web application
date:         03/05/22
filename:     base.css
*/

@import '../../index.scss';

.base-wrap{
    height: 100vh;
}