/*

*/

$wb_red: #E21B4D;
$wb_light_red: #fa2056;
$wb_silver: #D9D4CE;
$wb_yellow: #ffd400;
$wb_dark_blue: #001c39;
$wb_blue: #1D19AC;
$wb_white: #F4EBEE;

*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

